a {
  display: block;
  margin-bottom: 1em;
}

section {
  margin-bottom: 2em;
}

.ingredient {

  color: #fff;
  background-color: #007bff;
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  margin-right: .5em;
}

.star {
  &:before {
    content: '\2606'
  }

  &.solid:before {
    content: '\2605'
  }
}

.content {

  display: flex;
  flex-wrap: wrap;

  .details {
    flex: 0 0 auto;
  }

  .image {
    flex: 0 0 500px;
    margin-right: 2em;
  }
}

img {
  width: 500px;
  height: 500px;
}