section {
  margin-bottom: 2em;
}

.recipe {

}

.ingredient {

  color: #fff;
  background-color: #007bff;
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  margin-right: .5em;
}

.star{
  &:before {content:'\2606'}

  &.solid:before{
    content:'\2605'
  }
}